<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="" />
    <title>Sayune Novel</title>
    <!-- css boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/src/style/icon/fontawesome-free-6.7.2-web/css/all.css"
    />
    <link rel="stylesheet" href="/src/style/icon/_fonts.scss" />
    <link rel="stylesheet" href="/src/style/dashboard.css" />
    <link rel="stylesheet" href="/src/style/base.css" />
    <!-- js boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Topbar Start -->
    <div id="app-wrapper">
      <header class="app-topbar">
        <div class="container-fluid">
          <div class="nav-header">
            <div class="nav-tool d-flex align-items-center gap-4">
              <div class="topbar-items">
                <button class="topbar-toggle-menu">
                  <i class="fa-solid fa-bars"></i>
                </button>
              </div>

              <form class="topbar-search">
                <div class="search-toggle">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Search"
                  />
                  <button>
                    <i
                      class="fa-solid fa-magnifying-glass search-widget-icon"
                    ></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="nav-user d-flex align-items-center gap-4">
              <div class="topbar-nightmode-toggle">
                <button class="topbar-button" id="light-dark-mode">
                  <i class="fa-solid fa-sun align-middle dark-mode"></i>
                </button>
              </div>

              <div class="topbar-notice">
                <button class="topbar-button">
                  <i class="fa-regular fa-bell"></i>
                </button>
              </div>

              <div class="topbar-user d-flex">
                <a class="topbar-button">
                  <img
                    class="rounded-circle"
                    width="40"
                    src="/public/img/jindou-hikari.jpg"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
