:root {
    --white-color: #fff;
    --black-color: #000;
    --login-color: #efeff1;
    --text-color: #333;
    --sigup-color: #039be5;
    --content-color: #ccc;
    --pink-color: #FFD6E4;
    --text-color-hover: #039be5;
    --bs-body-bg: #191e23;

    /* border bottom */
    /* --bs-border-width: 1px;
    --bs-border-color: #272f37;
    --bs-border-style: solid; */
    /* topbar */
    --bs-topbar-bg: #1d2329;
    --bs-topbar-menu-bg: #232a31;
    --bs-topbar-icon-menu-color: #afb9cf;
    --bs-heading-color: #aab8c5;
    /* sidebar */
    --bs-sidebar-bg: #1d2329;
    --bs-sidebar-item-color: #afb9cf;
    --bs-sidebar-item-hover-bg: #2a3139;
    --bs-sidebar-item-hover-color: #ffffff;
    --bs-sidebar-border-color: #272f37;
    --bs-logo-lg-height: 26px;
    --bs-logo-sm-height: 24px;
    --bs-sidebar-width: 250px;
    --bs-sidebar-width-sm: 75px;
    --bs-sidebar-item-icon-size: 18px;
    --bs-sidebar-item-font-size: 15px;
    --bs-sidebar-item-padding-x: 15px;
    --bs-sidebar-item-padding-y: 10px;
    --bs-sidebar-item-margin-y: 2px;
    --bs-topbar-height: 70px;
    --bs-footer-height: 60px;

    /* login */
    --bs-login-bg: #1d2329;
}

[data-bs-theme='dark'] {
    --bs-body-bg: #121212;
    --bs-body-color: #f8f9fa;
    --bs-border-width: 1px;
    --bs-border-color: #272f37;
    --bs-border-style: solid;

    /* sidebar */
    --bs-sidebar-bg: #1d2329;
    --bs-sidebar-item-color: #afb9cf;
    --bs-sidebar-item-hover-bg: #2a3139;
    --bs-sidebar-item-hover-color: #ffffff;
    --bs-sidebar-border-color: #272f37;

    /* login */
    --bs-border-color: #272f37;
    --bs-item-color: #afb9cf;
    --bs-light: #242b33;
    --bs-dark: #f1f1f1;
    --bs-light-rgb: 36, 43, 51;
    --bs-dark-rgb: 241, 241, 241;
    --bs-headings-color: #aab8c5;
    --bs-input-border-color: #3a4551;
    --bs-input-focus-border-color: #4a5663;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%; /* == 16px */
    /* font-size: 62.5%; /* == 10px */
    /*line-height: 2.2rem; == 22px */
    /* 1rem = 16px */
    line-height: 1.5;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.font-semibold {
    font-weight: 600 !important;
}

.category {
    float: left;
}

.dropdown-lg {
    width: 320px;
}

h6 {
    color: var(--bs-heading-color);
}

.text-dark {
    color: var(--bs-heading-color) !important;
}

/* dashboard */
.topbar-button {
    background-color: var(--bs-topbar-menu-bg);
    color: var(--bs-topbar-icon-menu-color);
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.dropdown-menu-end {
    right: 0 !important;
    left: auto !important;
}

.avatar-sm {
    height: 36px;
    width: 36px;
}

.dropdown-menu.show {
    top: 100% !important;
}

.dropdown-menu {
  animation: DropDownSlide 0.3s ease forwards;
}

/* Keyframes định nghĩa animation */
/* animation dropdown-menu */
@keyframes DropDownSlide {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0px);
    }
}

/* sidebar */
.logo-box .logo-sm {
    display: none;
    height: var(--bs-logo-sm-height);
}

.logo-box .logo-lg {
    height: var(--bs-logo-lg-height);
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
}

html[data-sidebar-size=condensed] .app-sidebar .navbar-nav {
    padding: 10px;
    margin: 0;
}

html[data-sidebar-size=condensed] .app-sidebar .menu-title {
    height: 0;
    opacity: 0;
    padding: 0;
}

html[data-sidebar-size=condensed] .app-sidebar .logo-box .logo-sm {
    display: inline-block;
}

html[data-sidebar-size=condensed] .app-sidebar .logo-box .logo-lg {
    display: none;
}

html[data-sidebar-size=condensed] .app-topbar {
    padding-left: var(--bs-sidebar-width-sm);
}

html[data-sidebar-size=condensed] .app-sidebar
 {
    position: absolute;
    width: var(--bs-sidebar-width-sm);
    min-width: var(--bs-sidebar-width-sm);
 }

html[data-sidebar-size=condensed] .app-sidebar .navbar-nav .nav-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

html[data-sidebar-size=condensed] .app-sidebar .navbar-nav .nav-link .nav-icon {
    font-size: 20px !important;
}

html[data-sidebar-size=condensed] .app-sidebar .navbar-nav>.nav-item .nav-text {
    margin-left: 10px;
}

html[data-sidebar-size=condensed] .app-sidebar .navbar-nav .nav-link .nav-text,  
html[data-sidebar-size=condensed] .app-sidebar .navbar-nav .nav-link .nav-icon-arow-down{
    display: none;
}