:root {
    --white-color: #fff;
    --black-color: #000;
    --login-color: #efeff1;
    --text-color: #333;
    --sigup-color: #039be5;
    --content-color: #ccc;
    --pink-color: #FFD6E4;
    --text-color-hover: #039be5;
    --bs-body-bg: #191e23;

    /* border bottom */
    /* --bs-border-width: 1px;
    --bs-border-color: #272f37;
    --bs-border-style: solid; */
    /* topbar */
    --bs-topbar-bg: #1d2329;
    
    --bs-topbar-menu-bg: #232a31;
    --bs-topbar-icon-menu-color: #afb9cf;
    --bs-heading-color: #aab8c5;
    /* sidebar */
    --bs-sidebar-bg: #1d2329;
    --bs-sidebar-item-color: #afb9cf;
    --bs-sidebar-item-hover-bg: #2a3139;
    --bs-sidebar-item-hover-color: #ffffff;
    --bs-sidebar-border-color: #272f37;
}

[data-bs-theme='dark'] {
    --bs-body-bg: #121212;
    --bs-body-color: #f8f9fa;
    --bs-border-width: 1px;
    --bs-border-color: #272f37;
    --bs-border-style: solid;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%; /* == 16px */
    /* font-size: 62.5%; /* == 10px */
    /*line-height: 2.2rem; == 22px */
    line-height: 1.5;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.font-semibold {
    font-weight: 600 !important;
}

.category {
    float: left;
}

.dropdown-lg {
    width: 320px;
}

h6 {
    color: var(--bs-heading-color);
}

.text-dark {
    color: var(--bs-heading-color) !important;
}

/* .border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
} */


/* dashboard */

.topbar-button {
    background-color: var(--bs-topbar-menu-bg);
    color: var(--bs-topbar-icon-menu-color);
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.dropdown-menu-end {
    right: 0 !important;
    left: auto !important;
}