* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Tahoma,sans-serif,Helvetica,Arial;
}


#app-wrapper {
    height: 100%;
    background-color: var(--bs-body-bg);
}

#app-wrapper .app-topbar {
    /* height: 70px; */
    padding-left: 250px;
    top: 0;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid var(--bs-border-color);
    height: 70px;
}

#app-wrapper .app-topbar .container-fluid {

}

.nav-header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-tool {

}

.nav-tool .topbar-items {
    height: 70px;
    display: flex;
    align-items: center;
}

.topbar-items .topbar-toggle-menu {
    border: none;
    border-radius: 50%;
    padding: 8px;
    background-color: var(--bs-topbar-menu-bg);
    color: var(--bs-topbar-icon-menu-color);
}

.topbar-items .topbar-toggle-menu i{
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.nav-tool .topbar-search {
    
}

.topbar-search .search-toggle {
    position: relative;
}

.topbar-search .search-toggle .form-control {
    height: 38px;
    padding: 0 12px 0 38px;
    border-radius: 20px;
    border: none;
    color: rgb(170, 184, 197);
    font-size: 14px;
    background-color: var(--bs-topbar-menu-bg);
}

.topbar-search .search-toggle .form-control::placeholder {
    color: var(--bs-topbar-icon-menu-color)
}


.topbar-search .search-toggle button{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    height: 38px;
    width: 38px;
    color: #8486a7;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav-user {
    /* display: flex; */
}

.nav-user .topbar-nightmode-toggle {

}

.topbar-nightmode-toggle .topbar-button i{
    font-size: 18px;
}

.topbar-notice .topbar-button i{
    font-size: 20px;
}

.topbar-notice .dropdown-menu {
    position: absolute;
    display: block;
}

.dropdown-menu .dropdown-menu-title {
    color: white;
}

.dropdown-menu .dropdown-menu-list-notice {

}

.dropdown-menu .dropdown-menu-view-more {

}

/* .topbar-user .topbar-button .img {
    width: 40px;
} */