#mainpart {
    margin-top: 60px;
}

.list-item-new {
    padding: 0 120px;  
}

.detail-item-new {
    margin: 10px 0;

}

.item-new-wrapper {
    position: relative;
    width: 130px;
    height: 186px;
    color: white;
}

.item-new-wrapper .new-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-items-new {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8) 67%, rgba(0, 0, 0, .8));
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.title-items-new .chapter-item-new {
    
}

.title-items-new .chapter-item-new a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.title-items-new .chapter-item-new a:hover {
    color: var(--text-color-hover);
}

.title-items-new .time-item-new .time-new {
    font-size: 13px;
    color: var(--text-color-hover);
}

.series-title-new {
    width: 130px;
    height: 42px;
    margin-bottom: 4px;
    margin-top: 6px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
}

.series-title-new a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
}

.series-title-new a:hover {
    color: var(--text-color-hover);
}