<html>
  <title>Create category</title>
  <link rel="stylesheet" href="/src/style/create-category.css" />
</html>

<body>
  <form class="form" action="/create-category" method="post">
    <span class="title">create category</span>
    <div class="form-container">
      <input class="input" type="text" placeholder="the loai" name="theloai" />
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
