<div class="page-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Member</h5>
        <p class="card-subtitle"></p>
      </div>
      <div class="card-body">
        <div id="table-gridjs"></div>
      </div>
    </div>
    <!-- member -->
    <!-- <%- include("./member") %>  -->
  </div>
</div>
