<div class="app-sidebar">
  <div class="logo-box">
    <a href="" class="logo-dark">
      <img src="/public/logo/logo-sm.png" class="logo-sm" alt="logo sm" />
      <img src="/public/logo/logo-dark.png" class="logo-lg" alt="logo dark" />
    </a>
    <a href="" class="logo-light">
      <img src="/public/logo/logo-sm.png" class="logo-sm" alt="logo sm" />
      <img src="/public/logo/logo-light.png" class="logo-lg" alt="logo light" />
    </a>
  </div>

  <div class="scrollbar" data-simplebar="init">
    <div class="simplebar-wrapper">
      <div class="simplebar-mask">
        <div class="simplebar-offset">
          <div
            class="simplebar-content-wrapper"
            tabindex="0"
            role="region"
            aria-label="scrollable content"
            style="height: auto; overflow: hidden scroll"
          >
            <div class="simplebar-content" style="padding: 0px">
              <ul class="navbar-nav">
                <li class="menu-title">Menu</li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <span class="nav-icon">
                      <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="nav-text">Dashboard</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    href="#sidebarAuthentication"
                    class="nav-link"
                    data-bs-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="sidebarAuthentication"
                  >
                    <span class="nav-icon">
                      <i class="fa-regular fa-user"></i>
                    </span>
                    <span class="nav-text">Authentication</span>
                    <span class="nav-icon-arow-down">
                      <i class="fa-solid fa-angle-down"></i>
                    </span>
                  </a>

                  <div class="collapse" id="sidebarAuthentication">
                    <ul class="nav sub-navbar-nav">
                      <li class="sub-nav-item">
                        <a href="" class="sub-nav-link">Sign In</a>
                      </li>
                      <li class="sub-nav-item">
                        <a href="" class="sub-nav-link">Sign Up</a>
                      </li>
                      <li class="sub-nav-item">
                        <a href="" class="sub-nav-link">Member</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="nav-item">
                  <a href="" class="nav-link">
                    <span class="nav-icon">
                      <i class="fa-solid fa-bug"></i>
                    </span>
                    <span class="nav-text">Error Pages</span>
                    <span class="nav-icon-arow-down">
                      <i class="fa-solid fa-angle-down"></i>
                    </span>
                  </a>
                </li>
                <li class="menu-title"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="simplebar-placeholder"
          style="width: auto; height: 636px"
        ></div>
      </div>
    </div>
  </div>
</div>
