<header class="app-topbar">
  <div class="container-fluid">
    <div class="nav-header">
      <div class="nav-tool d-flex align-items-center gap-3">
        <div class="topbar-items">
          <button id="topbar-toggle-menu" class="topbar-button">
            <i class="fa-solid fa-bars align-middle"></i>
          </button>
        </div>

        <form class="topbar-search">
          <div class="search-toggle">
            <input type="search" class="form-control" placeholder="Search" />
            <button>
              <i class="fa-solid fa-magnifying-glass search-widget-icon"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="nav-user d-flex align-items-center gap-3">
        <div class="topbar-nightmode-toggle topbar-items">
          <button class="topbar-button" id="light-dark-mode">
            <i class="fa-solid fa-sun align-middle dark-mode"></i>
          </button>
        </div>

        <!-- topbar notice -->
        <div class="topbar-notice dropdown topbar-items">
          <button
            id="page-header-notifications-dropdown"
            class="topbar-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-bell align-middle"></i>
          </button>

          <div
            class="dropdown-menu py-0 dropdown-lg dropdown-menu-end"
            aria-labelledby="page-header-notifications-dropdown"
          >
            <div class="dropdown-menu-title p-2 border-bottom">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="m-0 fs-16 fw-semibold">Notifications</h6>
                </div>

                <div class="col-auto">
                  <a href="" class="text-dark text-decoration-underline">
                    <small>Clear all</small>
                  </a>
                </div>
              </div>
            </div>

            <div class="dropdown-menu-list-notice">
              <div data-simplebar style="max-height: 250px">
                <a href="" class="dropdown-item p-2 border-bottom text-wrap">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img
                        src="/public/img/jindou-hikari.jpg"
                        class="img-fluid me-2 avatar-sm rounded-circle"
                        style="margin-top: 6px"
                        alt="avatar-1"
                      />
                    </div>

                    <div class="flew-grow-1">
                      <p class="mb-0">
                        <span class="fw-medium text-14"
                          >The more hope you hold.The more despair you'll
                          feel</span
                        >
                      </p>
                    </div>
                  </div>
                </a>

                <a href="" class="dropdown-item p-2 border-bottom text-wrap">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img
                        src="/public/img/jindou-hikari.jpg"
                        class="img-fluid me-2 avatar-sm rounded-circle"
                        style="margin-top: 6px"
                        alt="avatar-1"
                      />
                    </div>

                    <div class="flew-grow-1">
                      <p class="mb-0">
                        <span class="fw-medium text-14"
                          >The more hope you hold.The more despair you'll
                          feel</span
                        >
                      </p>
                    </div>
                  </div>
                </a>

                <a href="" class="dropdown-item p-2 border-bottom text-wrap">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img
                        src="/public/img/jindou-hikari.jpg"
                        class="img-fluid me-2 avatar-sm rounded-circle"
                        style="margin-top: 6px"
                        alt="avatar-1"
                      />
                    </div>

                    <div class="flew-grow-1">
                      <p class="mb-0">
                        <span class="fw-medium text-14"
                          >The more hope you hold.The more despair you'll
                          feel</span
                        >
                      </p>
                    </div>
                  </div>
                </a>

                <a href="" class="dropdown-item p-2 border-bottom text-wrap">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img
                        src="/public/img/jindou-hikari.jpg"
                        class="img-fluid me-2 avatar-sm rounded-circle"
                        style="margin-top: 6px"
                        alt="avatar-1"
                      />
                    </div>

                    <div class="flew-grow-1">
                      <p class="mb-0">
                        <span class="fw-medium text-14"
                          >The more hope you hold.The more despair you'll
                          feel</span
                        >
                      </p>
                    </div>
                  </div>
                </a>

                <a href="" class="dropdown-item p-2 border-bottom text-wrap">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img
                        src="/public/img/jindou-hikari.jpg"
                        class="img-fluid me-2 avatar-sm rounded-circle"
                        style="margin-top: 6px"
                        alt="avatar-1"
                      />
                    </div>

                    <div class="flew-grow-1">
                      <p class="mb-0">
                        <span class="fw-medium text-14"
                          >The more hope you hold.The more despair you'll
                          feel</span
                        >
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="dropdown-menu-view-more text-center p-2">
              <a class="btn btn-primary btn-sm" href=""
                >View All Notification
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="topbar-user topbar-items d-flex">
          <a
            type="button"
            class="topbar-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              class="rounded-circle"
              width="40"
              src="/public/img/jindou-hikari.jpg"
              alt=""
            />
          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <h6 class="dropdown-header">Welcome!</h6>
            <a href="" class="dropdown-item">
              <span>My Account</span>
            </a>
            <a href="" class="dropdown-item">
              <span>Logout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
